# Project Assemblies
/Server.dll
/Server/bin
/Server/obj
/Scripts.dll
/Scripts/bin
/Scripts/obj
/Application/bin
/Application/obj

# Common Directories
/.vs
/Honesty
/Logs
/Backups
/Saves
/Web
/Docs
/Reports

# Custom Directories
/VitaNexCore
/Leaderboard
/UltimaLive
/TheBox
/Export

# Common Files
/firewall.cfg
/drng64.dll
/drng32.dll
/libdrng.so
/System.Drawing.Common.dll

# Custom Files
/TotalAccountGold.txt

# Wildcard Files
*.pdb
*.exe
*.exe.mdb
*.exe.config
*.sh
*.suo
*.idea
*.log
*.bin
*.csproj.user
*.DotSettings.user
*.ini

# Include Data Files
!/Data/*

# Exclude Data Files
/Data/PVPTournamentSystemData
Config/DataPath.cfg
/Application/obj/ServUO.csproj.nuget.g.props
/Application/obj/Debug/ServUO.pdb
/Application/obj/Debug/ServUO.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/ServUO.exe
/Application/obj/Debug/ServUO.csproj.FileListAbsolute.txt
/Application/obj/Debug/ServUO.csproj.CoreCompileInputs.cache
/Application/obj/Debug/ServUO.csproj.AssemblyReference.cache
/Application/obj/Debug/ServUO.assets.cache
/Application/obj/project.assets.json
/.vs/ServUO/v17/.suo
/.vs/ServUO/v17/.suo
/Application/obj/Debug/ServUO.csproj.AssemblyReference.cache
/Scripts/obj/Debug/Scripts.csproj.AssemblyReference.cache
