# Project Assemblies
/Server.dll
/Server/bin
/Server/obj
/Scripts.dll
/Scripts/bin
/Scripts/obj
/Application/bin
/Application/obj

# Common Directories
/.vs
/Honesty
/Logs
/Backups
/Backups/Automatic
/Saves
/Web
/Docs
/Reports

# Custom Directories
/VitaNexCore
/Leaderboard
/UltimaLive
/TheBox
/Export

# Common Files
/firewall.cfg
/drng64.dll
/drng32.dll
/libdrng.so
/System.Drawing.Common.dll

# Custom Files
/TotalAccountGold.txt

# Wildcard Files
*.pdb
*.exe
*.exe.mdb
*.exe.config
*.sh
*.suo
*.idea
*.log
*.bin
*.csproj.user
*.DotSettings.user
*.ini

# Include Data Files
!/Data/*

# Exclude Data Files
/Data/PVPTournamentSystemData
Config/DataPath.cfg
/Application/obj/ServUO.csproj.nuget.g.props
/Application/obj/Debug/ServUO.pdb
/Application/obj/Debug/ServUO.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/ServUO.exe
/Application/obj/Debug/ServUO.csproj.FileListAbsolute.txt
/Application/obj/Debug/ServUO.csproj.CoreCompileInputs.cache
/Application/obj/Debug/ServUO.csproj.AssemblyReference.cache
/Application/obj/Debug/ServUO.assets.cache
/Application/obj/project.assets.json
/.vs/ServUO/v17/.suo
/.vs/ServUO/v17/.suo
/Application/obj/Debug/ServUO.csproj.AssemblyReference.cache
/Scripts/obj/Debug/Scripts.csproj.AssemblyReference.cache
/Config/DataPath.cfg
/Saves/Mobiles/Mobiles.idx
/Saves/Mobiles/Mobiles.bin
/Saves/CustomPersistence.bin
/Saves/Items/Items.tdb
/Saves/Items/Items.idx
/Saves/Items/Items.bin
/Saves/Misc/Astronomy.bin
/Saves/Accounts/accounts.xml
/Logs/Commands/Player/admin.log
/Backups/Automatic/Third Backup/Accounts/accounts.xml
/Backups/Automatic/Third Backup/Items/Items.tdb
/Backups/Automatic/Third Backup/Items/Items.idx
/Backups/Automatic/Third Backup/Items/Items.bin
/Backups/Automatic/Third Backup/Quests/MLQuests.bin
/Backups/Automatic/Third Backup/Mobiles/Mobiles.tdb
/Backups/Automatic/Second Backup/CustomPersistence.bin
/Backups/Automatic/Second Backup/Misc/Astronomy.bin
